<template name="popupWindows_oneKeyRepair">
    <div class="row popup-windows about">
        <h1>{{i18n "mist.applicationMenu.develop.oneKeyRepair"}}</h1>
        <p>
            {{i18n "mist.applicationMenu.develop.oneKeyRepairNote"}}
        </p>
        <div class="col col-6">
            <button class="cancel" type="button">{{i18n "mist.applicationMenu.develop.oneKeyRepairCancel"}}</button>
        </div>
        <div class="col col-6">
            <button class="ok dapp-primary-button" type="button">{{i18n "mist.applicationMenu.develop.oneKeyRepairOk"}}</button>
        </div>
    </div>
</template>
